@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}
.app-body {
  display: flex;
}
.sidebar {
  width: 50%;
}
.content {
  width: 50%;
}
img {
  max-width: 200px;
  max-height: 200px;
  position: relative !important;
}

.image {
  width: 150px;
  height: 150px;
  background-size: cover;
}