@font-face {
  font-family: karla-italic;
  src: url("/fonts/Karla-Italic-VariableFont_wght.ttf");
  font-style: italic;
}
@font-face {
  font-family: karla-regular;
  src: url("/fonts/Karla-VariableFont_wght.ttf");
  font-style: normal;
}
