.app-image {
  img {
    position: relative !important;
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 300px;
  }
  .image-wrapper {
    .image {
      width: auto;
      max-width: 300px;
      height: auto;
      max-height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
