@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap/scss/mixins.scss";
@import "bootstrap/scss/grid.scss";
@import "bootstrap/scss/mixins/breakpoints.scss";
@import "bootstrap/scss/variables.scss";
@import "bootstrap/scss/utilities.scss";
@import "./app-buttons";
@import "./app-fonts";
@import "./app-image";
@import "./app-loading";
@import "./app-text";
@import "./vertical-nav";

html * {
  font-family: karla-regular !important;
}
html {
  overflow-x: hidden;
}
.mobile-icon {
  display: none;
}
@media (max-width: 1024px) {
  .mobile-icon {
    display: block;
  }
}
